html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #e5fefd;
  }
h1, h2, h3, h4 {
  color: #0F3376;
  padding: 2vh;
}

p{
  font-size: 1.5rem;
}

.updatedMessage {
  display: none;
}

/* 3D buttons https://www.joshwcomeau.com/animation/3d-button/ */
.pushable {
  margin-left: 15px;
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.pushable:active .front {
  transform: translateY(-2px);
  background: hsl(340deg 100% 32%);
}

#linkSetDefaults {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.updatedMessage p {
  position: absolute;
  top:50px;
  width: 90%;
  align-self: center;
  background-color: yellow;
  font-weight: bold;
  border: #000 solid;
}

/* Slider https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(345deg 100% 47%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(345deg 100% 47%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
